* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: 100px auto;
}

td {
    width: 45px;
    height: 45px;
    border: 1px solid lightgray;

    text-align: center;
    font-size: 2em;
    cursor: pointer;
}